@font-face {
    font-family: neu;
    src: url('./NeueHaasDisplayMediu.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: neu, sans-serif; 
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 2vw 0;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    bottom: -100%;
    border-radius: 50%;
  transition: all ease 0.4s;
  z-index: 1;
}
#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
   
}
#nav-part2 h4 a{
    text-decoration: none;
    color: #000000bb;
    position: relative;
    z-index: 9;
}
#nav-part2 h4:hover a{
    color:#fff;
}
#center{
 
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid #000000bb;
    padding-bottom: 2.5vw;
    margin-top: 5vw ;
    }

#left{
    width: 30vw;
    font-size: 1.8vw;
    line-height: 2vw;
}
#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}
video{
    margin-top: 8vh;
    width: 100%;
    position: relative;
    border-radius: 27px;
}
#heroshape{
    width: 55vw;
    height: 37vw;
    position: absolute;
    right: 0;
    top: 80vh;
}
#hero1{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    background: linear-gradient(#FE330A, #fe3116);
    position: absolute;
    filter: blur(25px);
}
#hero2{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE330A, #fe3116);
    position: absolute;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    
    
}
#hero3{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background: linear-gradient(#FE330A, #fe3116);
    position: absolute;
    filter: blur(25px);
}
@keyframes anime1 {
    form{
        transform: translate(-5%,20%);

    }
    to{
        transform: translate(33%,-10%);

    }
}
#page2{
    background-color: #EFEAE3;
    height: 120vh;
    width: 100%;
    padding-top: 8vw;
    position: relative;
   
}
#movingline{
    display: flex; 
    white-space: nowrap;
    overflow-x: auto;
   
}
#movingline::-webkit-scrollbar{
    display: none;
}
.con{
    display: flex;
     animation-name: move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.con h1{
    display: inline-block;
    font-size: 9vw; 
}
.gola{
    width: 5vw;
    height: 5vw;
    background-color: #FE330A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
    margin-top: 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#part1{
    width: 63%;
}
#page2-bottom{
    padding: 4vw ;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    display: flex;
    gap: 20px;
}
#part1 h1{
    font-size: 4.2vw;
    line-height: 4vw;
    position: relative;
    z-index: 9;
    font-weight: 900;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#part2{
    padding-top: 4vh;
    width: 22%;
    padding-right: 1px;
}
#part2 img{
    width: 100%;
    border-radius: 15px;
    height: auto;
    display: block;
}
#part2 p{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@keyframes circle1
{
    0%{
        transform: translate(-5%,10%) skew(0deg);
        
    }
    100%{
        transform: translate(5%,-6%) skew(20deg);

    }
}
@keyframes circle2
{
    0%{
        transform: translate(-5%,10%) ;
        
    }
    100%{
        transform: translate(5%,-6%) ;

    }
}
#circle1{
    height: 32vw;
    width: 32vw;
    position: absolute;
    top: 67%;
    left: 31%;
    background-color: rgb(255, 76, 21);
    filter: blur(10px);
    border-radius: 50%;
    animation-name: circle1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#circle2{
    height: 32vw;
    width: 32vw;
    position: absolute;
    top: 67%;
    left: 31%;
    background-color: rgb(255, 76, 21);
    filter: blur(50px);
    border-radius: 50%;
    animation-name: circle2;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}